<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" http-equiv="Content-Type"
          content="text/html; charset=UTF-8;width=device-width, initial-scale=1"/>
    <title>导航</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <!--    <link rel="stylesheet" href="/css/gaokao.css">-->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <style>
        .title {
            margin-top: 10px;
            /*margin-left: 280px;*/
            text-align: center;
        }

        .fen a {
            color: #333333;
        }
    </style>
</head>

<body>

<div th:fragment="nav">

    <div class="title">
        <div class="heading-spotlight">
            <a href="/">
                <img src="http://img3.youzy.cn/content/media/thumbs/p00208392.png" height="80" width="358">
            </a>

        </div>
    </div>
    <nav class="navbar navbar-default" role="navigation"
         style="margin-top: 20px;background-color: #2e6da4;font-size: 17px">

        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="color: white;font-size: 17px">志愿填报专家</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/" style="color: white">首页</a></li>
                    <li class="dropdown">
                        <a href="/xingaokao" class="dropdown-toggle" data-toggle="dropdown"
                           style="color: white;background-color: #2e6da4 ">
                            新高考
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/zixun">高考资讯</a></li>
                            <li class="divider"></li>
                            <li><a href="/xingaokao">完整智能模式</a></li>
                            <li class="divider"></li>
                            <li><a href="/school2profession">根据大学选专业</a></li>

                            <li><a href="/profession2school">根据专业选科目</a></li>

                            <!--                            <li><a href="#">根据科目选专业</a></li>-->
                        </ul>
                    </li>
                    <li><a href="/xueyeceping" style="color: white">学业测评</a></li>
                    <li class="dropdown">
                        <a href="/zhinengtianbao" class="dropdown-toggle" data-toggle="dropdown"
                           style="color: white;background-color: #2e6da4">
                            智能填报
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="width: 270px">
                            <ul class="fen" style="width: 40%;float: left">
                                <p>查</p>
                                <li><a href="/majors/Homepage" style="color: #333333">查专业</a></li>
                                <li><a href="/schoolHomepage" style="color: #333333">找大学</a></li>
                                <li><a href="/weici" style="color: #333333">位次查询</a></li>
                                <li><a href="/fenshuxian" style="color: #333333">分数线</a></li>
                                <li><a href="#" style="color: #333333">提前批</a></li>
                                <li><a href="#" style="color: #333333">看职业</a></li>
                                <li><a href="/picixian" style="color: #333333">批次线</a></li>
                                <li class="divider"></li>
                            </ul>
                            <ul class="fen" style="width: 60%;float: right">
                                <p>填</p>
                                <li><a href="/zhinengtianbao" style="color: #333333">一键填报</a></li>
                                <li><a href="/1dui1" style="color: #333333">专家一对一填报</a></li>
                                <li><a href="/zhinengtianbao" style="color: #333333">院线优先填报</a></li>
                                <li><a href="/zhinengtianbao" style="color: #333333">专业优先填报</a></li>
                                <li><a href="/zhinengtianbao" style="color: #333333">自主填报</a></li>
                            </ul>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="/jiangtang" class="dropdown-toggle" data-toggle="dropdown"
                           style="color: white;background-color: #2e6da4">
                            课堂
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/jiangtang">讲堂</a></li>
                            <li class="divider"></li>
                            <li><a href="/kecheng">课程</a></li>
                            <li class="divider"></li>
                            <li><a href="#">试题</a></li>
                            <li><a href="#">模拟试题</a></li>
                            <li><a href="#">高考真题</a></li>


                        </ul>
                    </li>
                    <li><a href="/fuwu" style="color: white">服务</a></li>
                    <li><a href="/zixunshi" style="color: white">咨询师</a></li>

                    <li th:if="${session.user != null}" class="dropdown">
                        <a href="#" class="dropdown-toggle text-position" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false" style="color: white;background-color: #2e6da4 ">
                            <span th:text="${session.user.userName}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>

                    <li th:if="${session.user == null}" style="margin-top: 15px;margin-left: 15px">
                        <span>
                         <a href="/register" style="color: white;background-color: #2e6da4">注册 |</a>
                         <a href="/denglu" style="color: white;background-color: #2e6da4"> 登录</a>
                        </span>
                    </li>
                </ul>
            </div>

            <form class="navbar-form navbar-left" action="/indexSearch" style="position: absolute;right: 150px">
                <div class="form-group">
                    <input type="text" class="form-control" name="indexSearhInput" placeholder="找大学/查专业">
                </div>
                <button type="submit" class="btn btn-default" style=" width: auto;margin-top: auto;">搜索</button>

            </form>

        </div>
    </nav>

</div>

</body>
</html>