<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>批次线</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <style>
        body{
            background-color: whitesmoke;
        }
        .title {
            margin-top: 10px;
            /*margin-left: 280px;*/
            text-align: center;
        }

        .dropdown active{
            background-color: #b0b0b0;
        }


    </style>
</head>
<body>
<div th:insert="navigation :: nav"></div>

<ul class="breadcrumb" style="margin-top: -20px;background-color: white">
    <span class="glyphicon glyphicon-pawn"></span>
    <li><a href="#">首页</a></li>
    <li><a href="#">批次线</a></li>

</ul>

<div class="container" style="width: 1260px;background-color: #FFFFFF">
    <p style="font-size: 22px;margin-left: 30px;padding-top: 20px"><span class="glyphicon glyphicon-menu-hamburger"></span>陕西批次线</p>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2019</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>518</td>
                <td>468</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>400</td>
                <td>363</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>150</td>
                <td>150</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2018</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>518</td>
                <td>474</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>467</td>
                <td>425</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>345</td>
                <td>332</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>160</td>
                <td>160</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2017</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>509</td>
                <td>449</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>457</td>
                <td>397</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>334</td>
                <td>301</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>150</td>
                <td>150</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2016</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>511</td>
                <td>470</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>460</td>
                <td>423</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>381</td>
                <td>344</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>200</td>
                <td>200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2015</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>510</td>
                <td>480</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>467</td>
                <td>440</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>382</td>
                <td>350</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>220</td>
                <td>200</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2014</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>548</td>
                <td>503</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>492</td>
                <td>452</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>382</td>
                <td>342</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>273</td>
                <td>256</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <table class="table table-hover">

            <thead>
            <tr style="background-color: rgba(225,225,225,0.3)">
                <th>2013</th>
                <th>文科</th>
                <th>理科</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>本一批</td>
                <td>540</td>
                <td>485</td>
            </tr>
            <tr>
                <td>本二批</td>
                <td>486</td>
                <td>435</td>
            </tr>
            <tr>
                <td>本三批</td>
                <td>386</td>
                <td>330</td>
            </tr>
            <tr>
                <td>高职专科</td>
                <td>200</td>
                <td>150</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>

<footer class="ui inverted vertical segment m-padded-tb-massive" style="margin-top: 40px">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced " >关于我们</h4>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">服务热线： 18629648756</a>
                    <a href="#" class="item m-text-thin">营业时间： 9:00~21:00</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">法律声明</h4>

            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">UP志愿专家 西安阿谱云教育科技有限公司版权所有陕ICP备20000936号 © 2012- 2020</p>
    </div>

</footer>
</body>
</html>