<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课堂</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <style>
        body{
            background-color: whitesmoke;
        }
        .title {
            margin-top: 10px;
            /*margin-left: 280px;*/
            text-align: center;
        }


        .dropdown active{
            background-color: #b0b0b0;
        }




        .icon {
            width: 100%;
            height: 100px;
            background-color: #FFFFFF;


        }


        .icon a {
            float: left;
            width: 80px;
            height: 70%;
            margin-top: 15px;
            margin-left: 15px;

        }







    </style>
</head>
<body>
<div th:insert="navigation :: nav"></div>

<ul class="breadcrumb" style="margin-top: -20px;background-color: white">
    <span class="glyphicon glyphicon-pawn"></span>
    <li><a href="#">首页</a></li>
    <li><a href="#">课堂</a></li>

</ul>

<div class="container" style="background-color: #FFFFFF;width: 1260px;height:480px; ">
    <div class="col-lg-8" >
        <img style="margin: 10px 5px;height: 440px;width: 770px" src="//staticv2.youzy.cn/images/course/nocourse.jpg">
    </div>
    <div class="col-lg-4" >
        <p style="margin-top:20px;margin-left:30px;font-size: 24px"><span class="glyphicon glyphicon-menu-hamburger"></span>百宝箱</p>
        <div class="icon">

            <a href=""><img style="margin-left: 20px" src="//staticv3-pre.youzy.cn/ToB.PC/images/usercenter/appsquare/icons/1.png">
                <p style="font-size: 12px;margin-top: 10px;margin-left: 20px">找大学</p>  </a>

            <a href=""><img style="margin-left: 20px" src="//staticv3-pre.youzy.cn/ToB.PC/images/usercenter/appsquare/icons/2.png"
                            style="margin-top: -6px"> <p style="font-size: 12px;margin-top:7px;margin-left: 20px">查专业</p>
            </a>

            <a href=""><img style="margin-left: 20px" src="//staticv3-pre.youzy.cn/ToB.PC/images/usercenter/appsquare/icons/3.png">
                <p style="font-size: 12px;margin-top: 15px;;margin-left: 20px">分数线</p></a>
        </div>

        <div class="teach">
            <div>
                <p style="margin-bottom:0px;margin-left:20px;font-size: 24px"><span class="glyphicon glyphicon-menu-hamburger"></span> 咨询师咨询</p>
                <hr>
                <div class="media" style="margin-top: 10px">
                    <div class="media-left">
                        <img src="http://img3.youzy.cn/content/media/thumbs/p00212161.jpeg" class="media-object" style="width:60px;border-radius: 25px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">孙老师</h4>
                        <input type="button" value="预约" style="float: right">
                        <p>志愿填报,高招政策,学业规划</p>

                    </div>
                </div>
                <div class="media" style="margin-top: 20px">
                    <div class="media-left">
                        <img src="http://img3.youzy.cn/content/media/thumbs/p00212356.jpeg" class="media-object" style="width:60px;border-radius: 25px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">杜老师</h4>
                        <input type="button" value="预约" style="float: right">
                        <p>志愿填报,高招政策,学业规划</p>

                    </div>
                </div>
                <div class="media" style="margin-top: 20px">
                    <div class="media-left">
                        <img src="http://img3.youzy.cn/content/media/thumbs/p00212358.jpeg" class="media-object" style="width:60px;border-radius: 25px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">杨老师</h4>
                        <input type="button" value="预约" style="float: right">
                        <p>志愿填报,高招政策,学业规划</p>

                    </div>
                </div>





            </div>
        </div>


    </div>
</div>

<div class="container" style="background-color: #FFFFFF;width: 1260px;margin-top: 30px">
    <p style="padding-top:20px;margin-left:15px;font-size: 26px">||热门课程</p>
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/12.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>省控线与省批线</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/5.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>服从专业调剂</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/10.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>分数线和投档线</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/9.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>分数清、专业清、专业级差区别</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/8.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>专业级差</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/7.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>专业清</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/6.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>分数清</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="http://staticv2.youzy.cn/imagestob/temp-pic/classrooms/4.jpg"
                     alt="通用的占位符缩略图">
                <div class="caption">
                    <h5>大小年现象</h5>
                    <span class="label label-success">免费</span>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="ui inverted vertical segment m-padded-tb-massive" style="margin-top: 40px">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced " >关于我们</h4>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我们</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">服务热线： 18629648756</a>
                    <a href="#" class="item m-text-thin">营业时间： 9:00~21:00</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">法律声明</h4>

            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">UP志愿专家 西安阿谱云教育科技有限公司版权所有陕ICP备20000936号 © 2012- 2020</p>
    </div>

</footer>
</body>
</html>