<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice02_back.mapper.AreaMapper">


    <select id="regionList" resultType="school">
        select distinct region, reid
        from school
        order by reid
    </select>


</mapper>
