<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="practice02_back.mapper.ScoreLineMapper">

    <select id="getScoresBySchoolName" resultType="schoolscore">
        select *
        from schoolscore
        where name = #{name}
        order by year DESC
    </select>

    <select id="getRankByScore" resultType="int">
        select `rank`
        from score_rank
        where score = #{score}
          and sort = #{sort}
          and year = 2019
    </select>

</mapper>
